<div id="cart">
  <% if @cart and @cart.cart_items.size > 0 -%>
    <ol>
      <% @cart.cart_items.each do |cartItem| -%>
        <li><%= "#{cartItem.item.title} x#{cartItem.quantity}" -%></li>
      <% end -%>
    </ol>
    <% form_tag( :controller => 'cart' ) do %>
      <%= submit_tag t('layout.sidebar.cart.chekout_button') %>
    <% end -%>
  <% else -%>
    <%= t('layout.sidebar.cart.empty') -%>
  <% end -%>
</div>