<div id="cart" class="sidebar_group">
  <% if @cart and @cart.cart_items.size > 0 -%>
      <% @cart.cart_items.each do |cartItem| -%>
          <div class="sidebar_cart_item">
            <div class="sidebar_cart_item_title">
              <% link_to({:controller => 'item', :action => 'index', :ident => cartItem.item.ident}) do %>
                  <%= cartItem.item.title %>
              <% end %>
            </div>
            <div class="sidebar_cart_item_details">
              <%= t('layout.sidebar.cart.condition_and_quantity', :quantity => cartItem.quantity) %>
            </div>
          </div>
          <div class="hr"></div>
      <% end -%>
      <div>
        <%= button_to t('layout.sidebar.cart.chekout_button'), { :controller => 'cart' }, :method => :get %>
      </div>
  <% else -%>
      <%= t('layout.sidebar.cart.empty') -%>
  <% end -%>
</div>