<div>
  <%= link_to category_and_sub.title, :controller => 'category', :action => 'index', :id => category_and_sub.id -%>
  (<%= category_and_sub.all_items.size -%>)
</div>
<% if category_and_sub.subcategories.size > 0 -%>
  <div style="position: relative; left: 20px">
    <%= render :partial => 'partials/category_and_sub', :collection => category_and_sub.subcategories %>
  </div>
<% end -%>
