<div id="chibi" style="position: fixed; top: 50px; left: 80%">
  <%= image_tag 'chibi_reimu.png', :alt => 'Reimu', :size => '133x228' -%>
</div>
<script type="text/javascript">
	$(function() {
		$("#chibi").draggable();
	});
	</script>
