<div id="right_sidebar">
  <div class="menu_category"><%= t('layout.sidebar.language') -%></div>
  <div>
    <%= render :partial => 'partials/language_and_currency' %>
  </div>

  <% unless @hide_cart -%>
      <div class="menu_category"><%= t('layout.sidebar.cart.title') -%></div>
      <div>
        <%= render :partial => 'partials/cart' %>
      </div>
  <% end -%>
</div>