<div id="right_sidebar">
  <div class="menu_category"><%= t('layout.sidebar.language') -%></div>
  <div>
    <%= render :partial => 'partials/language_and_currency' %>
  </div>

  <div class="menu_category"><%= t('layout.sidebar.cart') -%></div>
  <div>
    <%= render :partial => 'partials/cart' %>
  </div>
</div>