<div id="signin_section">
  <div class="signin_box">
    <p>Logged as <%= "#{@user.first_name} #{@user.last_name}" -%></p>
    <p><%= link_to 'Logout', :controller => 'user', :action => 'logout' -%></p>
  </div>
</div>
