<div id="signin_section">
  <div class="signin_box">
    <% form_tag({ :controller => 'user', :action => 'login' }, { :id => 'signin_form' }) do -%>
      <div class="signin_box_field">
        <label for="user_login">Username:</label>
        <%= text_field 'user', 'login', :size => 20, :class => 'signin_box_input' %>
      </div>
      <div class="signin_box_field">
        <label for="user_password">Password:</label>
        <%= password_field 'user', 'password', :size => 20, :class => 'signin_box_input' %>
      </div>
      <div id="signin_button">
        <%= submit_tag 'Login' %>
      </div>
    <% end -%>
  </div>
</div>