<div class="thumb">
  <a href="<%= static_url thumb.full_filename -%>">
    <%= image_tag static_url(thumb.thumb.full_filename), :alt => thumb.title, :width => thumb.thumb.width, :height => thumb.thumb.height -%>
  </a>
</div>
