html, body {
    margin: 0;
    padding: 0;
    text-align: center; /* IE compatibility of centered #content */
}

#page {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: red;
    color: black;
    font-size: xx-large;
    text-align: left;
}

#left_sidebar {
    position: relative;
    width: 200px;
    float: left;
    background-color: lightsteelblue;
}

#twocols {
    width: 900px;
    position: relative;
    float: right;
}

#right_sidebar {
    position: relative;
    width: 200px;
    float: right;
    background-color: lightsteelblue;
}

#centercol {
    position: relative;
    float: left;
    width: 700px;
}

#content {
    padding: 5px;
    background-color: fuchsia;
}

#footer {
    background-color: black;
    height: 20px;
    clear: both;
    text-align: center;
    color: white;
}

#navbar {
    width: 680px;
    background-color: white;
    text-align: left;
    border: darkslategray 1px dotted;
    padding: 3px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

@media print {
    #left_sidebar {
        display: none;
    }

    #right_sidebar {
        display: none;
    }

    #twocols, #content {
        width: 100%;
        float: none;
    }
}

a.navbar_link {
    color: black;
}

a:visited.navbar_link {
    color: black;
}

a.title_link {
    text-decoration: none;
    color: black;
}

a:visited.title_link {
    color: black;
}

.menu_category {
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signin_box {
    background-color: moccasin;
    border: black 1px solid;
    text-align: center;
    padding: 8px;
}

.signin_box_field {
    font-size: small;
}

.signin_box_input {
    width: 100px;
}

#error {
    color: red;
}

#notice {
    color: darkslateblue;
}

#debug {
    color: green;
}

#register_error {
    color: darkred;
}

#cart {
    text-align: center;
}

.item_detail {
    background-color: skyblue;
    border: 1px black dashed;
    margin-bottom: 8px;
    padding: 3px;
}

.item_detail_name {
    font-size: small;
    font-weight: bold;
}

.item_detail_content {
    position: relative;
    left: 25px;
}

div.category_item {
    background-color: aliceblue;
    border: black dotted 1px;
    padding: 10px;
    width: 180px;
    height: 180px;
}

div.addresses {
    display: table;
    border: 1px solid black;
}

div.address {
    display: table-row;
}

div.address_selector {
    display: table-cell;
    width: 20px;
    background-color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
}

div.address_content {
    display: table-cell;
    width: auto;
    background-color: gold;
    vertical-align: middle;
}

a.category_item {
    text-decoration: none;
}

img.category_item {
    border: none;
}

.shipment_price {
    color: red;
}