/* --- GENERAL HTML SETTINGS --- */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #ffecec url("../images/background.png") repeat-x;
}

img, table, tr, td {
    border: 0;
}

a {
    color: #c40000;
}

a:hover {
    color: #f20000;
}

h1 {
    color: black;
    margin: 10px 10px 30px;
}

ul, li {
    margin-left: 30px;
}

/* --- APPLICATION LAYOUT --- */

#page {
    width: 1105px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#header {
    margin: 8px 0 6px 0;
    position: relative;
    width: 1105px;
    height: 151px;
    background: white;
}

#content_container_top {
    width: 1105px;
    height: 17px;
    background: white url("../images/content_bg_top.png") no-repeat;
}

#content_container_bottom {
    width: 1105px;
    height: 17px;
    background: white url("../images/content_bg_bottom.png") no-repeat;
}

#left_sidebar {
    width: 213px;
    background: white url("../images/content_bg_left.png") repeat-y;
    vertical-align: top;
}

#centercol {
    width: 679px;
    background: white;
    vertical-align: top;
}

#right_sidebar {
    width: 213px;
    background: white url("../images/content_bg_right.png") repeat-y;
    vertical-align: top;
}

#content {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
}

#footer {
    margin: 7px 0 7px 0;
    width: 1105px;
    height: 28px;
    background: white url("../images/footer.jpg") no-repeat;
}

#footer_content {
    color: #696969;
    text-align: center;
    font-size: small;
    vertical-align: middle;
}

#footer_content a {
    color: #696969;
    text-decoration: none;
}

#footer_content a:hover {
    color: #696969;
    text-decoration: underline;
}

@media print {
    #left_sidebar {
        display: none;
    }

    #right_sidebar {
        display: none;
    }

    #twocols, #content {
        width: 100%;
        float: none;
    }
}

/* --- NAVIGATION BAR --- */

#navbar {
    width: 660px;
    background-color: #ffdfe0;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.navbar_elements_container {
    height: 20px;
}

.navbar_element {
    float: left;
    font-size: 12px;
    background: #ffacae;
    vertical-align: middle;
}

.navbar_element a {
    text-decoration: none;
    vertical-align: middle;
}

.navbar_element:hover {
    background: #dddddd;
}

.navbar_last_element {
    float: left;
    font-size: small;
    font-weight: bold;
    background: #ff7d81;
    vertical-align: middle;
}

.navbar_image {
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

a.navbar_link {
    color: black;
}

a:visited.navbar_link {
    color: black;
}

/* --- SIDE BARS --- */

.sidebar_group {
    width: 179px;
    background-color: #ffa2a4;
    border: #ff6a6f 1px solid;
    text-align: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 8px;
}

.sidebar_group div.hr {
    width: 100%;
    height: 1px;
    font-size: 1px;
    margin-top: 7px;
    margin-bottom: 6px;
    border-bottom: 1px solid #ff6a6f;
}

.sidebar_content {
    width: 197px;
    margin-left: 8px;
}

.menu_category {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_category_title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_element {
    margin-top: 2px;
    margin-bottom: 2px;
}

.category_item_count {
    font-size: small;
    color: #696969;
}

.search_field {
    width: 143px;
    padding: 3px;
    background-color: #ffdfe0;
    font-size: 12px;
    border: 1px solid #c40000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.search_field_phantom {
    color: gray;
    text-align: center;
}

.search_button {
    height: 23px;
    width: 23px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -2px;
    vertical-align: middle;
}

/* --- SIGNIN/OUT BOX --- */

.signin_box_field {
    display: table-row;
    width: 100%;
}

.signin_box_label {
    display: table-cell;
    width: 50%;
    font-size: small;
    text-align: right;
    padding-right: 8px;
}

.signin_box_input {
    display: table-cell;
    width: auto;
    background-color: white;
    border: #ff6a6f 1px solid;
}

.signin_box_additional_actions {
    font-size: smaller;
}

/* --- FLASH --- */

#error {
    position: relative;
    left: 5px;
    width: 660px;
    height: 100px;
    background: white url("../images/flash_cirno.png");
    margin-top: 8px;
}

#error_content {
    position: relative;
    top: 20px;
    left: 110px;
    width: 540px;
    height: 55px;
    color: red;
    vertical-align: middle;
    text-align: center;
}

#notice {
    position: relative;
    left: 5px;
    width: 660px;
    height: 100px;
    background: white url("../images/flash_marisa.png");
    margin-top: 8px;
}

#notice_content {
    position: relative;
    top: 20px;
    left: 110px;
    width: 540px;
    height: 55px;
    color: black;
    vertical-align: middle;
    text-align: center;
}

#debug {
    background: yellow;
}

/* --- WARNING BOXES --- */

.warning_box {
    margin: 15px auto;
    color: white;
    padding: 10px;
    width: 550px;
    text-align: justify;
    background-color: #cc0004;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.warning_box_button {
    margin-top: 10px;
    text-align: center;
}

.warning_box a {
    color: yellow;
}

.warning_box img {
    float: left;
    margin-right: 15px;
    vertical-align: middle;
}

.warning_box_signature {
    margin-top: 10px;
    position: relative;
    left: 350px;
}

/* --- SIDEBAR CART --- */

.sidebar_cart_item {
}

.sidebar_cart_item_title {
}

.sidebar_cart_item_details {
    font-size: smaller;
    color: #696969;
}

/* --- PAGE: home --- */

#home_twocols {
    width: 100%;
}

#home_left {
    width: 50%;
    vertical-align: top;
    padding: 5px;
}

#home_right {
    width: 50%;
    vertical-align: top;
    padding: 5px;
}

#home_separator_col {
    width: 0;
    border-right: 1px solid #edd0d1;
}

.home_section {
    margin-bottom: 10px;
}

.home_section_title {
    background-color: #ffdfe0;
    margin: 0;
    padding: 4px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #edd0d1;
}

.home_section_content {
    background-color: #ffecec;
    padding: 5px;
}

.osusume {
    border: 1px solid black;
}

.osusume_thumb {
    vertical-align: middle;
}

.item_thumb {
    border: 1px solid black;
}

.osusume_details {
    vertical-align: middle;
}

.osusume_reason {
    margin-top: 15px;
}

.osusume_character {
    position: relative;
    top: 5px;
    left: 40px;
}

#random_items {
    margin: 10px;
}

.random_item {
    text-align: center;
}

.random_item_separator {
    width: 0;
    border-right: 1px solid #edd0d1;
}

/* --- PAGES: new account creation, forgot password, reset password --- */

.register_content {
    position: relative;
    left: 50px;
}

.register_field.even {
    background-color: #ffdfe0;
}

.register_field.odd {
    background-color: #ffecec;
}

.register_field_label {
    width: 200px;
    text-align: right;
    padding-right: 8px;
    border-right: 1px solid #ffacae;
}

.register_field_value {
    width: 200px;
    padding-left: 5px;
}

.register_field_check {
    width: 30px;
    text-align: center;
}

.register_submit {
    width: 100%;
    text-align: center;
}

.register_error {
    color: darkred;
}

/* --- PAGE: item details --- */

.item_header {
    background-color: #ffdfe0;
    padding: 8px;
    margin: 20px 10px 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.item_header div.hr {
    width: 100%;
    height: 1px;
    font-size: 1px;
    margin-top: 7px;
    margin-bottom: 6px;
    border-bottom: 1px solid #ffacae;
}

#main_picture {
    width: 230px;
    text-align: center;
}

#gallery {
    width: 260px;
    text-align: left;
}

#item_title {
    margin: 0;
    font-size: 24px;
}

#original_title {
    font-size: small;
}

#author {
    font-size: smaller;
}

#price {
    margin-top: 15px;
}

#add_to_cart_button {
    position: relative;
    top: -5px;
    left: 10px;
    vertical-align: middle;
}

.item_picture {
    border: 1px solid black;
    vertical-align: middle;
    margin: 2px;
}

.item_detail {
    background-color: #ffdfe0;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.item_detail div.hr {
    width: 100%;
    height: 1px;
    font-size: 1px;
    margin-top: 7px;
    margin-bottom: 6px;
    border-bottom: 1px solid #ffacae;
}

.item_detail_name {
    font-size: large;
    font-weight: bold;
}

.item_detail_content {
    position: relative;
    left: 25px;
    width: 600px;
}

/* --- PAGE: category view --- */

.category_controls {
    margin-top: 8px;
    margin-bottom: 8px;
}

.category_sort {
    float: left;
}

.category_pages {
    float: right;
}

.category_items {
    display: table;
    width: 100%;
}

.category_item.even {
    background-color: #ffdfe0;
}

.category_item.odd {
    background-color: #ffecec;
}

.category_item.hidden_item {
    background-color: red;
}

.category_item:hover {
    background-color: #ffacae;
}

.category_item_picture {
    width: 100px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.category_item_description {
    width: auto;
    vertical-align: middle;
}

.category_item_description_type {
    font-size: small;
    color: #696969;
}

.category_item_description_availability {
    font-size: small;
}

.availability0 { /* not in stock */
    color: red;
}

.availability1 { /* preorder */
    color: blue;
}

.availability2 { /* OK */
    color: green;
}

.category_item_price {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

/* --- PAGEs: cart view & checkout --- */

.cart {
    margin-left: 50px;
    vertical-align: middle;
}

.cart th {
    text-align: center;
}

.cart_item {
    height: 25px;
}

.cart_item.odd {
    background-color: #ffecec;
}

.cart_item.even {
    background-color: #ffdfe0;
}

.cart_item_delete {
    width: 30px;
    text-align: center;
    border-right: 1px solid #ffacae;
}

.cart_item_title {
    padding-left: 8px;
    padding-right: 8px;
    width: 300px;
    text-align: left;
    border-right: 1px solid #ffacae;
}

.cart_item_unit_price {
    width: 80px;
    text-align: center;
    border-right: 1px solid #ffacae;
}

.cart_item_quantity {
    width: 80px;
    text-align: center;
    border-right: 1px solid #ffacae;
}

.cart_item_button {
    position: relative;
    top: 2px;
}

.cart_total {
    border-right: 1px solid #ffacae;
    padding-left: 8px;
}

.cart_item_total_price {
    width: 80px;
    text-align: center;
}

.cart_additional_button {
    text-align: center;
}

.delivery_method {
}

.delivery_method_selector {
    float: left;
    width: 25px;
}

.delivery_method_content {
    margin: 10px 0 5px;
}

.delivery_method_content ul {
    margin: 0;
    list-style: circle;
}

.shipment_price {
    color: red;
}

.shipping_address_box {
    width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffdfe0;
    padding: 8px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.shipping_address_box .title {
    text-align: center;
    font-weight: bold;
}

.shipping_address_box div.hr {
    width: 100%;
    height: 1px;
    font-size: 1px;
    margin-top: 7px;
    margin-bottom: 6px;
    border-bottom: 1px solid #ffacae;
}

.confirm_order {
    text-align: center;
    margin-top: 20px;
}

.bottom_button {
    text-align: center;
    margin-top: 20px;
}

.bottom_button_explain {
    margin-top: 8px;
    font-size: small;
}

/* --- PAGEs: orders list --- */

.order_id {
    width: 70px;
    text-align: center;
    border-right: 1px solid #ffacae;
}

.order_date {
    width: 150px;
    text-align: center;
    border-right: 1px solid #ffacae;
}

.order_total_price {
    width: 100px;
    text-align: center;
    border-right: 1px solid #ffacae;
}

.order_status {
    width: 100px;
    text-align: center;
    border-right: 1px solid #ffacae;
}

.order_actions {
    width: 120px;
    text-align: center;
}

.order_events {
    margin-left: 50px;
    margin-bottom: 20px;
}

.order_events ul {
    margin: 0;
}

.order_events_title {
    text-decoration: underline;
}
