<% @title = "Order confirmed" -%>
<% @nav = [ [ t('cart.edit.nav'), { :controller => 'cart', :action => 'index' } ], [ t('cart.checkout.nav') ] ] -%>
<% @hide_cart = true -%>
<h1><%= @title -%></h1>
<div>Order #<%= @order.id -%></div>
The order has been validated successfully. An e-mail confirmation has been sent to <%= @user.email -%>. We will send you
another e-mail when we ship your order. You can also view the status of your order in <strong>My Home</strong> any time.
Thank you for purchasing at Touhou Shop!
<%= render :partial => 'partials/order', :object => @order %>
