<% @title = t('cart.checkout.title') -%>
<% @nav = [ [ t('cart.edit.nav'), { :controller => 'cart', :action => 'index' } ], [ t('cart.checkout.nav') ] ] -%>
<% @hide_cart = true -%>
<h1><%= t('cart.checkout.title') -%></h1>
<div>Order #<%= @order.id -%></div>
<% form_for :order, @order, :url => { :action => 'to_paypal' } do |f| -%>
    <%= render :partial => 'partials/order', :object => @order, :locals => { :no_shipping_address => true, :country_chooser => true } %>
    <%= f.submit 'Shipping address &amp; Paypal >', :disabled => true %>
<% end -%>