<% @title = t('checkout.index.title') -%>
<% @nav = order_index_nav -%>
<% @hide_cart = true -%>
<h1><%= @title -%></h1>
<% form_for :order, @order, :url => { :action => 'to_paypal' } do |f| -%>
    <% button = f.submit t('checkout.index.paypal_button'), :disabled => true %>
    <%= render :partial => 'partials/order', :object => @order, :locals => { :no_shipping_address => true, :country_chooser => true, :additional_button => button } %>
<% end -%>