<% @title = t('user.addresses.view.title') -%>
<% @nav = [ [ t('user.home.nav'), { :action => 'home' } ], [ t('user.addresses.view.nav') ] ] -%>
<h1><%= @title -%></h1>
<% unless @user.user_addresses.empty? -%>
    <ol>
      <% @user.user_addresses.each do |add| -%>
          <li>
            <%= render :partial => 'partials/address', :object => add %>
            <%= button_to t('user.addresses.view.edit_button'), { :action => 'edit_address', :id => add }, :method => :get %>
          </li>
      <% end -%>
    </ol>
<% else -%>
    <div>(empty)</div>
<% end -%>
<div>
  <%= button_to t('user.addresses.view.add_button'), { :action => 'new_address'}, :method => :get %>
</div>